*{ 
	margin: 0;
	}
	nav {
		display: flex;
		background: lightgrey;
	  justify-content: space-between;
	  padding: 1em;
	}
	
	div {
	  display: flex;
	  width: 30%;
		justify-content: space-between;
	}
.socials{
	width: 25%;
	height: 25%;
	object-fit: contain;
}




* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: Arial, sans-serif; }




.grid {
      list-style:none;
      overflow: hidden;
  		padding: 0.5em 0 0 0.5em;
			max-width: 76em;
			margin: 0 auto;
		}
		.grid li {
			padding: 0 0.5em 0.5em 0;
		}
		.grid li > img {
      display:block;
       max-width:100%;
			background: #808080;
			padding: 2em;
			text-align: center;
		}
		.grid li a {
			color: #fff;
		}
		
		@media all and (min-width: 27em) {
			.grid li {
				width: 50%;
				float: left;
			}
		}
		
		@media all and (min-width: 40em) {
			.grid li {
				width: 33%;
			}
			.grid li.wide {
				width: 66%;
			}
		}
		@media all and (min-width: 60em) {
			.grid li {
				width: 25%;
			}
			.grid li.wide {
				width: 50%;
			}
        }
        
        .container{
			justify-content: center;
		}
		
		