body {
  background-image: url('https://github.com/tyreil/web_1_project_2/blob/master/assets/textures/fabric_plaid.png?raw=true');
overflow-x: hidden;
}

.content-wrapper {
margin: 0 auto;
}


.title {
display: flex;
justify-content: space-between;
width: 30%;
padding: 10px;
font-family: 'Open Sans', sans-serif;
}

#facebook {
width: 25px;
height: 25px;
border-radius: 8px;
}

#twitter {
width: 25px;
height: 25px;
border-radius: 8px;
}

.socials {
display: inline;
float: right;
display-content: row;
position: relative;
top: -50px;
}

.log-in { 
display: flex;
float: right;
position: relative;
right: -55px;
top: -20px;
font-family: 'Open Sans', sans-serif;
}


.big img {
width: 1300px;
height: 400px;
background-color: white;
padding: 10px;
}

#icon-3 {
width:60px;
height:60px;
position: relative;
bottom: 200px;
left: -20px;
}

#icon-4 {
width:60px;
height:60px;
position: relative;
left: 1215px;
bottom: 200px;
}

.namebox {
width: 1300px;
height: 50px;
font-size: 25px;
background-color: black;
color: white;
opacity: .8;
display: flex;
align-items: center;
justify-content: flex-end;
position: relative;
bottom: 128px;
right: -10px;
}

.middle {
display: flex;
justify-content: center;
font-size: 20px;
position: relative;
bottom: 80px;
}

a {
background: url ("https://github.com/MadelineLe117/web_1_project_2/blob/master/assets/textures/az_subtle.png?raw=true");
background-size: cover;
position: relative;
left: 550px;
width: 104px;
height: 20px;
padding: 5px 55px;
background-color: #b3b3ac;
background-blend-mode: multiply;
color: white;
text-decoration: none;
text-align: center;

}

.button:hover {
background-color: #ddd;
}

.pictures {
display: flex;
flex-flow: row wrap;
justify-content: space-between;
position: relative;
bottom: 50px;

}

.show {
max-width: 21%;
margin: 2% 0;
align-self: center;
height: 200px;

}

.twitterbox {
 background-color: #404040;
 display: flex;
 justify-content: center;
 position: relative;
 top: 45px;
 width: 1325px;
 height: 45px;
 color: white;
}

.move {
position: relative; 
left: 50px;
}

#icon-5 {
width:30px;
height:30px;
position: relative;
bottom:-10px;
left: 30px;
transform: rotate(18deg);
}

.small {
font-size: x-small;
position: relative;
left: 60px;
top: 20px;
display: flex;
align-self: center;

}

.firstcolumn {
display: flex;
justify-content: space-between;
width: 30%;
position: relative;
top: 60px;
left: 10px;
}

.searching {
position: relative;
top: 50px;
left: 10px;
}

.searchbar {
background-color: white;
width: 400px;
height: 30px;
position: relative;
top: 50px;
left: 10px;
}

.search {
position: relative;
bottom: 38px;
left: 30px;
}

#icon-6 {
width:25px;
height:25px;
}

.secondcolumn {
position: relative;
left:470px;
top:-130px;
}

.thirdcolumn {
position: relative;
top: -267px;
left: 950px;
}

.bottom {
font-family: 'Open Sans', sans-serif;
background-color: #b3b3ac;
background-image: url ('https://github.com/tyreil/web_1_project_2/blob/master/assets/textures/az_subtle.png?raw=true');
background-size: cover;
height: 300px;

}

.twitterbox {
 background-color: #404040;
 display: flex;
 justify-content: center;
 position: relative;
 top: 45px;
 width: 1325px;
 height: 45px;
 color: white;
}

.move {
position: relative; 
left: 50px;
}

#icon-5 {
width:30px;
height:30px;
position: relative;
bottom:-10px;
left: 30px;
transform: rotate(18deg);
}

.small {
font-size: x-small;
position: relative;
left: 60px;
top: 20px;
display: flex;
align-self: center;

}
.firstcolumn {
display: flex;
justify-content: space-between;
width: 30%;
position: relative;
top: 60px;
left: 10px;
}

.searching {
position: relative;
top: 50px;
left: 10px;
}

.searchbar {
background-color: white;
width: 400px;
height: 30px;
position: relative;
top: 50px;
left: 10px;
}

.search {
position: relative;
bottom: 38px;
left: 30px;
}

#icon-6 {
width:25px;
height:25px;
}

.secondcolumn {
position: relative;
left:470px;
top:-130px;
}

.thirdcolumn {
position: relative;
top: -267px;
left: 950px;
}

.bottom {
font-family: 'Open Sans', sans-serif;
background-color: #b3b3ac;
background-image: url ('https://github.com/tyreil/web_1_project_2/blob/master/assets/textures/az_subtle.png?raw=true');
background-size: cover;
height: 300px;

}

