*{ 
	margin: 0;
	}
	nav {
		display: flex;
		background: lightgrey;
	    justify-content: space-between;
	    padding: 1em;
	    width: 25%;
	    height: 25%;
	    object-fit: scale-down;}
	
	
	div {
	  display: flex;
	  width: 30%;
		justify-content: space-between;
	}

	.socials{
		justify-content: right;
		flex-direction: column;
	}






* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: Arial, sans-serif; }


        
        .container{
			justify-content: center;
			flex-wrap: wrap;
			padding: 10px;
		}
		
		@media only screen and (min-width: 960px)  and (max-width: 1140px){}

			body { min-width: 960px; }
	