
    
    nav {
        display: flex;
        background: lightgrey;
      justify-content: space-between;
      padding: 1em;
    }
    
    .rightlinks {
      justify-content: space-between;
      display: flex;
      width: 20%;
      height: 20% 
    }
      
    
    .footer{   
    display: flex;
     background: light grey;
    justify-content: space-between;
    padding: 1em;
    }

    .rightlinks {
        align-items: baseline;
    }

    .socials {
        display: flex;
        flex-direction: row;
        width: 25%;
        height: 25%;
    }

    .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
      }.column img {
        margin-top: 8px;
        vertical-align: middle;
      }