*{ 
    margin: 0;
    }
    nav {
        display: flex;
        background: lightgrey;
      justify-content: space-between;
      padding: 1em;
    }
    
    .rightlinks {
      display: flex;
      width: 30%;
      justify-content: space-between;

    .leftlinks{
        display: flex;
        justify-content:  flex-start;
    }
    }
    .footer{
        background-color: grey
    }