*{ 
    margin: 0;
    }
    nav {
        display: flex;
        background: lightgrey;
      justify-content: space-between;
      padding: 1em;
    }
    
    .rightlinks {
      display: flex;
      width: 30%;
      justify-content: space-between;

    .leftlinks{
        display: flex;
        align-self: flex-start;
    }
    }
    .footer{
        
    display: flex;
     background:rgb(32, 33, 33);
    justify-content: space-between;
    padding: 1em;
    }